{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "airbnb-base/legacy",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
      // "prettier",
      // "prettier/@typescript-eslint"
    ],
    "rules": { 
        "no-console": 2,
        "indent": [2, 4]
    }
}